<!-- ecommerce/templates/ecommerce/blockchain_admin.html -->
{% extends 'ecommerce/base.html' %}

{% block title %}Blockchain Data - TICHKULE BUILDERS{% endblock %}

{% block content %}
    <div class="container my-5">
        <h2>Blockchain Logs</h2>
        
        {% if blockchain.chain %}
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Timestamp</th>
                        <th>Data</th>
                        <th>Previous Hash</th>
                        <th>Hash</th>
                    </tr>
                </thead>
                <tbody>
                    {% for block in blockchain.chain %}
                        <tr>
                            <td>{{ block.index }}</td>
                            <td>{{ block.timestamp }}</td>
                            <td>{{ block.data }}</td>
                            <td>{{ block.previous_hash }}</td>
                            <td>{{ block.hash }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No blockchain data available.</p>
        {% endif %}
    </div>
{% endblock %}
